# Exam 1

In [4]:
import pandas as pd
import numpy as np
import os

In [41]:
grade_dir = "/Users/yuyang/Documents/Courses/22Fall/STAT3011/exams/exam1/grades"
gradebook = pd.read_csv(os.path.join(grade_dir, "2022-11-04T1122_Grades-STAT_3011_(006).csv"))
exam1A = pd.read_csv(os.path.join(grade_dir, "Exam1A_Fall_22_scores.csv"))
exam1B = pd.read_csv(os.path.join(grade_dir, "Exam1B_Fall_22_scores.csv"))

In [42]:
# curve version A
exam1A = exam1A[["SID", "Total Score"]]
exam1A["Total Score"] = np.sqrt(exam1A["Total Score"] + 4) * 10
gradebook = gradebook.merge(exam1A, how="left", left_on="SIS User ID", right_on="SID")
gradebook["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"] = np.where(gradebook["Total Score"].isnull(), 
    gradebook["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"], 
    gradebook["Total Score"])
gradebook.drop(columns = ["SID", "Total Score"], inplace = True)

# curve version B
exam1B = exam1B[["SID", "Total Score"]]
exam1B["Total Score"] = np.sqrt(exam1B["Total Score"]) * 10
gradebook = gradebook.merge(exam1B, how="left", left_on="SIS User ID", right_on="SID")
gradebook["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"] = np.where(gradebook["Total Score"].isnull(),  
    gradebook["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"], 
    gradebook["Total Score"])
gradebook.drop(columns = ["SID", "Total Score"], inplace = True)

# curve Version C
VersionC_students = set(gradebook["SIS User ID"]) - set(exam1A[~exam1A["Total Score"].isnull()]["SID"]) - set(exam1B[~exam1B["Total Score"].isnull()]["SID"])
VersionC_students = {x for x in VersionC_students if x == x}
gradebook.loc[gradebook["SIS User ID"].isin(VersionC_students), "Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"] = np.sqrt(gradebook[gradebook["SIS User ID"].isin(VersionC_students)]["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"] + 4) * 10

In [22]:
gradebook.to_csv(os.path.join(grade_dir, "curved_grades.csv"), index = False)

# Exam 2

In [11]:
import pandas as pd
import numpy as np
import os

In [12]:
grade_dir = "/Users/yuyang/Documents/Courses/22Fall/STAT3011/exams/exam2/grades"
gradebook = pd.read_csv(os.path.join(grade_dir, "2022-12-05T1545_Grades-STAT_3011_(006).csv"))
exam2A = pd.read_csv(os.path.join(grade_dir, "Fall_22_Exam_2A_scores.csv"))
exam2B = pd.read_csv(os.path.join(grade_dir, "Fall_22_Exam_2B_scores.csv"))
exam2C = pd.read_csv(os.path.join(grade_dir, "Fall_22_Exam_2C_scores.csv"))

In [13]:
# curve version A
exam2A = exam2A[["SID", "Total Score"]]
exam2A["Total Score"] = np.sqrt(exam2A["Total Score"] - 2) * 10
gradebook = gradebook.merge(exam2A, how="left", left_on="SIS User ID", right_on="SID")
gradebook["Mid-term Exam 2 (Thursday, 11/17, 5:00 - 6:30 pm, Anderson Hall 310) (2758468)"] = np.where(gradebook["Total Score"].isnull(), 
    gradebook["Mid-term Exam 2 (Thursday, 11/17, 5:00 - 6:30 pm, Anderson Hall 310) (2758468)"], 
    gradebook["Total Score"])
gradebook.drop(columns = ["SID", "Total Score"], inplace = True)

# curve version B
exam2B = exam2B[["SID", "Total Score"]]
exam2B["Total Score"] = np.minimum(np.sqrt(exam2B["Total Score"] + 6) * 10, 100)
gradebook = gradebook.merge(exam2B, how="left", left_on="SIS User ID", right_on="SID")
gradebook["Mid-term Exam 2 (Thursday, 11/17, 5:00 - 6:30 pm, Anderson Hall 310) (2758468)"] = np.where(gradebook["Total Score"].isnull(),  
    gradebook["Mid-term Exam 2 (Thursday, 11/17, 5:00 - 6:30 pm, Anderson Hall 310) (2758468)"], 
    gradebook["Total Score"])
gradebook.drop(columns = ["SID", "Total Score"], inplace = True)

# curve version C
exam2C = exam2C[["SID", "Total Score"]]
exam2C["Total Score"] = np.sqrt(exam2C["Total Score"] - 2) * 10
gradebook = gradebook.merge(exam2C, how="left", left_on="SIS User ID", right_on="SID")
gradebook["Mid-term Exam 2 (Thursday, 11/17, 5:00 - 6:30 pm, Anderson Hall 310) (2758468)"] = np.where(gradebook["Total Score"].isnull(), 
    gradebook["Mid-term Exam 2 (Thursday, 11/17, 5:00 - 6:30 pm, Anderson Hall 310) (2758468)"], 
    gradebook["Total Score"])
gradebook.drop(columns = ["SID", "Total Score"], inplace = True)

In [14]:
gradebook.to_csv(os.path.join(grade_dir, "curved_grades.csv"), index = False)

In [15]:
exam2C = pd.read_csv(os.path.join(grade_dir, "Fall_22_Exam_2C_scores.csv"))
exam2C["Total Score"] = np.sqrt(exam2C["Total Score"] - 2) * 10
exam2C

,Student,ID,SID,SIS Login ID,Section,"Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)",Total Score
0,"Benegas, Isabel",1525832.0,5832354.0,beneg010@umn.edu,006 UMNTC STAT 3011 (Fall 2022),80.00,91.651514
1,"Dobkin, Samuel",1423719.0,5774239.0,dobki009@umn.edu,006 UMNTC STAT 3011 (Fall 2022),94.34,81.240384
2,"Pagnotta, Sarah",977276.0,5574529.0,pagno009@umn.edu,006 UMNTC STAT 3011 (Fall 2022),84.85,68.556546
3,"Rendon, Erick",1297742.0,5726566.0,rendo023@umn.edu,006 UMNTC STAT 3011 (Fall 2022),80.93,78.102497
4,"Wenaas, Jenna",1065478.0,5598344.0,wenaa007@umn.edu,006 UMNTC STAT 3011 (Fall 2022),91.10,83.066239
5,"Zar, Sarah",1259876.0,5701364.0,zar00004@umn.edu,006 UMNTC STAT 3011 (Fall 2022),92.74,88.881944
6,"Zhao, Kang",1110337.0,5641694.0,zhao1443@umn.edu,006 UMNTC STAT 3011 (Fall 2022),84.26,72.111026

# Final Exam

In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
grade_dir = "/Users/yuyang/Documents/Courses/22Fall/STAT3011/exams/final_exam/grades"
gradebook = pd.read_csv(os.path.join(grade_dir, "2022-12-25T1753_Grades-STAT_3011_(006).csv"))
examA = pd.read_csv(os.path.join(grade_dir, "Fall_22_Final_Exam_A_scores.csv"))
examB = pd.read_csv(os.path.join(grade_dir, "Fall_22_Final_Exam_B_scores.csv"))

In [6]:
# curve version A
examA = examA[["SID", "Total Score"]]
examA["Total Score"] = np.sqrt(examA["Total Score"] + 2) * 10
gradebook = gradebook.merge(examA, how="left", left_on="SIS User ID", right_on="SID")
gradebook["Final Exam (Tuesday, 12/20, 5:00 - 7:00 pm, Anderson Hall 310) (2758469)"] = np.where(gradebook["Total Score"].isnull(), 
                                                                                                 gradebook["Final Exam (Tuesday, 12/20, 5:00 - 7:00 pm, Anderson Hall 310) (2758469)"], 
                                                                                                 gradebook["Total Score"])
gradebook.drop(columns = ["SID", "Total Score"], inplace = True)

# curve version B
examB = examB[["SID", "Total Score"]]
examB["Total Score"] = np.minimum(np.sqrt(examB["Total Score"] + 3.5) * 10, 100)
gradebook = gradebook.merge(examB, how="left", left_on="SIS User ID", right_on="SID")
gradebook["Final Exam (Tuesday, 12/20, 5:00 - 7:00 pm, Anderson Hall 310) (2758469)"] = np.where(gradebook["Total Score"].isnull(),  
                                                                                                 gradebook["Final Exam (Tuesday, 12/20, 5:00 - 7:00 pm, Anderson Hall 310) (2758469)"], 
                                                                                                 gradebook["Total Score"])
gradebook.drop(columns = ["SID", "Total Score"], inplace = True)

In [7]:
gradebook.to_csv(os.path.join(grade_dir, "curved_grades.csv"), index = False)

,Student,ID,SID,SIS Login ID,Section,"Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)",Total Score
0,"Benegas, Isabel",1525832.0,5832354.0,beneg010@umn.edu,006 UMNTC STAT 3011 (Fall 2022),80.00,91.651514
1,"Dobkin, Samuel",1423719.0,5774239.0,dobki009@umn.edu,006 UMNTC STAT 3011 (Fall 2022),94.34,81.240384
2,"Pagnotta, Sarah",977276.0,5574529.0,pagno009@umn.edu,006 UMNTC STAT 3011 (Fall 2022),84.85,68.556546
3,"Rendon, Erick",1297742.0,5726566.0,rendo023@umn.edu,006 UMNTC STAT 3011 (Fall 2022),80.93,78.102497
4,"Wenaas, Jenna",1065478.0,5598344.0,wenaa007@umn.edu,006 UMNTC STAT 3011 (Fall 2022),91.10,83.066239
5,"Zar, Sarah",1259876.0,5701364.0,zar00004@umn.edu,006 UMNTC STAT 3011 (Fall 2022),92.74,88.881944
6,"Zhao, Kang",1110337.0,5641694.0,zhao1443@umn.edu,006 UMNTC STAT 3011 (Fall 2022),84.26,72.111026

# Final Grade Curving

In [34]:
import pandas as pd
import numpy as np
import os

grade_dir = "/Users/yuyang/Documents/Courses/22Fall/STAT3011/exams/final_grade"
gradebook = pd.read_csv(os.path.join(grade_dir, "2022-12-25T1934_Grades-STAT_3011_(006).csv"))

final_score = gradebook["Final Score"].iloc[1:(gradebook.shape[0] - 1)].astype(float)
gradebook["Override Score"].iloc[1:(gradebook.shape[0] - 1)] = np.maximum(np.sqrt(final_score - 6) * 10, final_score)
gradebook.to_csv(os.path.join(grade_dir, "curved_grades.csv"), index = False)

/Users/yuyang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)