In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
grade_dir = "/Users/yuyang/Documents/Courses/22Fall/STAT3011/exams/exam1/grades"
gradebook = pd.read_csv(os.path.join(grade_dir, "2022-11-01T2219_Grades-STAT_3011_(006).csv"))
exam1A = pd.read_csv(os.path.join(grade_dir, "Exam1A_Fall_22_scores.csv"))
exam1B = pd.read_csv(os.path.join(grade_dir, "Exam1B_Fall_22_scores.csv"))

In [21]:
exam1A = exam1A[["SID", "Total Score"]]
gradebook = gradebook.merge(exam1A, how="left", left_on="SIS User ID", right_on="SID")
gradebook["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"] = np.where(gradebook["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"].isnull(), 
    gradebook["Total Score"],
    gradebook["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"])
gradebook.drop(columns = ["SID", "Total Score"], inplace = True)

exam1B = exam1B[["SID", "Total Score"]]
gradebook = gradebook.merge(exam1B, how="left", left_on="SIS User ID", right_on="SID")
gradebook["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"] = np.where(gradebook["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"].isnull(), 
    gradebook["Total Score"],
    gradebook["Mid-term Exam 1 (Thursday, 10/20, 5:00 - 6:30 pm Anderson Hall 310) (2758466)"])
gradebook.drop(columns = ["SID", "Total Score"], inplace = True)

In [22]:
gradebook.to_csv(os.path.join(grade_dir, "updated_grades.csv"), index = False)

In [6]:
exam1A = pd.read_csv(os.path.join(grade_dir, "Exam1A_Fall_22_scores.csv"))
exam1A = exam1A[["SID", "Total Score"]]
exam1A = exam1A[~exam1A["Total Score"].isnull()]
exam1A

        SID  Total Score
0   5794921         70.5
1   5775889         47.0
2   5687844         41.0
3   5817914         68.5
4   5818564         67.5
5   5829717         92.0
6   5534527         45.0
7   5806192         67.5
8   5743923         49.5
9   5833408         75.0
10  5456316         34.5
11  5821480         42.0
12  5805580         33.5
13  5574529         68.0
14  5772147         50.0
15  5774273         67.0
16  5552275         79.5
17  5817481         52.0
18  5466842         58.5
19  5830133         66.5
20  5769954         77.5
21  5681269         47.0
22  5679974         55.0
23  5800915         82.5
24  5782715         72.0
25  5788678         54.5
26  5635848         73.0
27  5531182         45.5
28  5776808         57.5
29  5771294         40.0
30  5607159         28.0
31  5698729         78.0
32  5634190         52.5
33  5697204         50.0
34  5084704         72.0
35  5686732         61.5
36  5628222         25.0
37  5705219         61.5
38  5714015         73.0
39  5750617         54.0
40  5784463         68.0
41  5734081         45.0
42  5824485         74.0
43  5625331         56.5
44  5682681         65.0
45  5819100         23.5
46  5550142         71.0
47  5773301         73.0
48  5774522         67.5
49  5783652         70.5
50  5652876         46.5
51  5441018         60.5
52  5676699         74.0
53  5505634         49.0